.all-posts-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  margin: 2rem;
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.blog-nav,
.blog-navlink {
  text-decoration: none;
  align-self: flex-start;
  padding: 0.3rem;
}

.postpage-container {
  display: flex;
  flex-direction: column;
}

.comment-btn {
  margin: 15px 0 15px 0;
  width: 7rem;
}
